<div id="header">
  <div class="fadein">
    <img src={{"/images/1.jpeg" | absolute_url}} style="top: -750px;">
    <img src={{"/images/2.jpeg" | absolute_url}} style="top: -650px;">
    <img src={{"/images/3.jpeg" | absolute_url}} style="top: -870px;">
    <img src={{"/images/4.jpeg" | absolute_url}} style="top: -750px;">
    <img src={{"/images/5.jpeg" | absolute_url}} style="top: -700px;">
  </div>

  <h1 id="logo-text"><a href="index.html" title="">SGS<span>Robotics</span></a></h1>
  <p id="slogan">SGS AUV Robotics Team</p>
</div>
