.post-info, .post-meta{
  position: relative;
  top: -15px;
  font-family: Arial, Helvetica, sans-serif;
}

.post-info{
  font-size: 11px;
  padding: 0px 0px 0px 25px;
}

.post-meta{
  font-size: 16px;
  padding: 0px 10px 0px 10px;
}
